body {
  background-color: #d9ecf2;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: gray;
  border-width: 5px;
  height: px;
  width: 10%;
}

img {
  height: 210px;
}

h1 {
  color: #17b3c1;
}

h3 {
  color: #17b3c1;
}
